

.col-md{
   
    with: 50%;
    margin-right: 100px;
    margin-top: 40px;
    text-align: right;
    padding: 20px;
   
}

.row{
    padding: 10px;
    margin-left: 100px;
}

.col-md{
    with: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: left;
    padding: 20px;
    
}


.modal fade {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}