{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel= "stylesheet" href="{% static 'sobreviventes/css/sobreviventes.css' %}">
    <link rel= "stylesheet" href="{% static 'quarentena/css/quarentena.css' %}">
{% endblock  %}

{% block 'dashboard' %}
    <br>
    <br>
        
    <div class=" row">
        <h1>Perfil</h1>
    </div>
        <div class="container">
            <div class="col-md">
                <img src="https://static1.purebreak.com.br/articles/2/78/65/2/@/294352-em-the-walking-dead-daryl-norman-ree-950x0-2.jpg" class="img-fluid" alt="..." style="width:50%; height:auto">
                
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ExemploModalCentralizado">
                   Verificar Status
                </button>
                <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="TituloModalCentralizado">ALERTA!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Status: INFECTADO 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-sm">
                <br>
                    <div clas="col-sm">
                        <h1>INFO</h1>
                        <table id="table" class="table">
                            <thead>
                              <tr>
                                <th  class="table-secondary" scope="col">Nome</th>
                                <th  class="table-secondary" scope="col">Daryl Dixon</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th  class="table-secondary" scope="row">Idade</th>
                                <td  class="table-secondary">53</td>
                              </tr>
                              <tr>
                                <th   class="table-secondary"scope="row">Sexo</th>
                                <td   class="table-secondary">Masculino</td>
                              </tr>
                              <tr>
                                <th class="table-danger" scope="row">Itens</th>
                                <td class="table-danger" colspan="2">Sem autorização para troca de itens</td>
                              </tr>
                            </tbody>
                        </table>
                       
                        
                        
                      
                    </div>
            </div>
        </div>
    </div>

{% endblock  %}
